In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd

In [ ]:
filename = '/content/drive/MyDrive/rr/CalIt2.csv'
df = pd.read_csv(filename)

In [ ]:
df.head()

   7  07/24/05  00:00:00  0
0  9  07/24/05  00:00:00  0
1  7  07/24/05  00:30:00  1
2  9  07/24/05  00:30:00  0
3  7  07/24/05  01:00:00  0
4  9  07/24/05  01:00:00  0

In [ ]:
df.columns = ['Flow_ID', 'Date', 'Time', 'Count']

In [ ]:

df.head()

   Flow_ID      Date      Time  Count
0        9  07/24/05  00:00:00      0
1        7  07/24/05  00:30:00      1
2        9  07/24/05  00:30:00      0
3        7  07/24/05  01:00:00      0
4        9  07/24/05  01:00:00      0

In [ ]:
selected_data = df[(df['Date'] == '07/24/05') & (df['Flow_ID'] == 7)]
print("Selected data:")
print(selected_data)

Selected data:
    Flow_ID      Date      Time  Count
1         7  07/24/05  00:30:00      1
3         7  07/24/05  01:00:00      0
5         7  07/24/05  01:30:00      0
7         7  07/24/05  02:00:00      0
9         7  07/24/05  02:30:00      2
11        7  07/24/05  03:00:00      0
13        7  07/24/05  03:30:00      0
15        7  07/24/05  04:00:00      0
17        7  07/24/05  04:30:00      0
19        7  07/24/05  05:00:00      0
21        7  07/24/05  05:30:00      0
23        7  07/24/05  06:00:00      0
25        7  07/24/05  06:30:00      0
27        7  07/24/05  07:00:00      0
29        7  07/24/05  07:30:00      2
31        7  07/24/05  08:00:00      0
33        7  07/24/05  08:30:00      0
35        7  07/24/05  09:00:00      0
37        7  07/24/05  09:30:00      1
39        7  07/24/05  10:00:00      0
41        7  07/24/05  10:30:00      0
43        7  07/24/05  11:00:00      1
45        7  07/24/05  11:30:00      0
47        7  07/24/05  12:00:00      0
49        7  07/24/05  12:30:00      0
51        7  07/24/05  13:00:00      0
53        7  07/24/05  13:30:00      0
55        7  07/24/05  14:00:00      0
57        7  07/24/05  14:30:00      0
59        7  07/24/05  15:00:00      0
61        7  07/24/05  15:30:00      0
63        7  07/24/05  16:00:00      0
65        7  07/24/05  16:30:00      0
67        7  07/24/05  17:00:00      1
69        7  07/24/05  17:30:00      2
71        7  07/24/05  18:00:00      4
73        7  07/24/05  18:30:00      1
75        7  07/24/05  19:00:00      2
77        7  07/24/05  19:30:00      1
79        7  07/24/05  20:00:00      0
81        7  07/24/05  20:30:00      0
83        7  07/24/05  21:00:00      3
85        7  07/24/05  21:30:00      2
87        7  07/24/05  22:00:00      0
89        7  07/24/05  22:30:00      0
91        7  07/24/05  23:00:00      2
93        7  07/24/05  23:30:00      0

In [ ]:
top10 = selected_data.sort_values('Count', ascending=False).head(10)
print("\nTop 10 rows:")
print(top10)

Top 10 rows:
    Flow_ID      Date      Time  Count
71        7  07/24/05  18:00:00      4
83        7  07/24/05  21:00:00      3
91        7  07/24/05  23:00:00      2
9         7  07/24/05  02:30:00      2
85        7  07/24/05  21:30:00      2
69        7  07/24/05  17:30:00      2
29        7  07/24/05  07:30:00      2
75        7  07/24/05  19:00:00      2
1         7  07/24/05  00:30:00      1
43        7  07/24/05  11:00:00      1

In [ ]:
lowest_value = top10['Count'].min()
top10['Adjusted_Count'] = top10['Count'].apply(lambda x: x - lowest_value)
average_count = top10['Adjusted_Count'].mean()
print("\nAverage adjusted count:")
print(average_count)

Average adjusted count:
1.1

In [ ]:
august_data = df[(df['Date'].str.startswith('08/')) & (df['Flow_ID'] == 7)]
print("\nAugust data:")
print(august_data)

August data:
      Flow_ID      Date      Time  Count
767         7  08/01/05  00:00:00      1
769         7  08/01/05  00:30:00      0
771         7  08/01/05  01:00:00      0
773         7  08/01/05  01:30:00      0
775         7  08/01/05  02:00:00      0
...       ...       ...       ...    ...
3733        7  08/31/05  21:30:00      0
3735        7  08/31/05  22:00:00      2
3737        7  08/31/05  22:30:00      1
3739        7  08/31/05  23:00:00      0
3741        7  08/31/05  23:30:00      2

[1488 rows x 4 columns]

In [ ]:
max_count_per_date = august_data.groupby('Date')['Count'].max()
print("\nMaximum count per date:")
print(max_count_per_date)

Maximum count per date:
Date
08/01/05    18
08/02/05    16
08/03/05    26
08/04/05    40
08/05/05    17
08/06/05     8
08/07/05     3
08/08/05    16
08/09/05    19
08/10/05    25
08/11/05    16
08/12/05    21
08/13/05     5
08/14/05     3
08/15/05    17
08/16/05    24
08/17/05    22
08/18/05    39
08/19/05    23
08/20/05     3
08/21/05     4
08/22/05    23
08/23/05    25
08/24/05    17
08/25/05    24
08/26/05    22
08/27/05     3
08/28/05     7
08/29/05    15
08/30/05    47
08/31/05    19
Name: Count, dtype: int64